<html>
    <head>

    </head>
    <body>
        <h2>Modificar Producto</h2>
    <form action="/agregar_producto_nosql/" method="GET">
        <div class="form-group">
            <label for="id_producto_nosql">Codigo del producto:</label>
            <input type="text" id="id_producto_nosql" name="id_producto_nosql" maxlength="40" required>
        </div>
        <div class="form-group">
            <label for="nombre_producto_nosql">Nombre:</label>
            <input type="text" id="nombre_producto_nosql" name="nombre_producto_nosql" maxlength="40" required>
        </div>
        <div class="form-group">
            <label for="marca_producto_nosql">Marca:</label>
            <input type="text" id="marca_producto_nosql" name="marca_producto_nosql" maxlength="40" required>
        </div>
        <div class="form-group">
            <label for="precio_producto_nosql">Precio:</label>
            <input type="number" id="precio_producto_nosql" name="precio_producto_nosql" required>
        </div>
        <div class="form-group">
            <label for="descripcion_producto_nosql">Descripcion:</label>
            <input type="text" id="descripcion_producto_nosql" name="descripcion_producto_nosql" maxlength="40" >
        </div>
        <div class="form-group">
            <label for="stock_producto_nosql">Stock:</label>
            <input type="number" id="stock_producto_nosql" name="stock_producto_nosql" maxlength="40" >
        </div>
        <div class="form-group">
            <label for="categorias_producto_nosql">Categorias:</label>
            <input type="text" id="categorias_producto_nosql" name="categorias_producto_nosql" maxlength="40" placeholder="Por ej:Computacion, Electronica" >
        </div>
        <div class="form-group">
            <label for="imagen1_producto_nosql">Imagen 1:</label>
            <input type="text" id="imagen1_producto_nosql" name="imagen1_producto_nosql" maxlength="40" placeholder="Por ej:www.mi_imagen.png" >
        </div>
        <div class="form-group">
            <label for="descripcion1img_producto_nosql">Descripcion imagen 1:</label>
            <input type="text" id="descripcion1img_producto_nosql" name="descripcion1img_producto_nosql" maxlength="40" >
        </div>
        <div class="form-group">
            <label for="imagen2_producto_nosql">Imagen 2:</label>
            <input type="text" id="imagen2_producto_nosql" name="imagen2_producto_nosql" maxlength="40" placeholder="Por ej:www.mi_imagen.png" >
        </div>
        <div class="form-group">
            <label for="descripcion2img_producto_nosql">Descripcion imagen 2:</label>
            <input type="text" id="descripcion2img_producto_nosql" name="descripcion2img_producto_nosql" maxlength="40"  >
        </div>
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>
    </body>
</html>